
<html>
    <head>
      <title>Lisa's blog</title>
    </head>
    <body>
      <div>
        <h1><a href="">Lisa's Django Girls Blog</a></h1>
      </div>

      <div>
        <p>published: 07.11.2015, 2:47</p>
        <h2><a href="">My first post</a></h2>
        <p>Hello! Having fun at Detroit Labs in the D thanks to Django Girls!</p>
    </div>

    <div>
      <p>published: 07.11.2015, 2:51</p>
      <h2><a href="">My second post</a></h2>
      <p>It's a beautiful day in Detroit!<p>
    </div>
    </body>
</html>
